.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  column-gap: 24px;
}

.advantages-title {
  color: var(--navy_blue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-text {
  margin-top: 8px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-item svg {
  width: 64px;
  height: 64px;
}

.advantages-item > div {
  text-align: center;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
}
