.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navy_blue-modal, rgba(46, 47, 66, 0.4));
}

.backdrop-content {
  padding: 24px;
  max-width: 400px;
  background-color: var(--dairy, #fcfcfc);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop-title {
  color: var(--navy_blue, #2e2f42);
  /* text-align: center; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.backdrop-form {
  display: flex;
  flex-direction: column;
  height: 584px;
}

textarea#message {
  resize: none;
}

.backdrop-form label {
  color: var(--light_slate, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.backdrop-form a {
  color: var(--iris, #4d5ae5);
  text-decoration-line: underline;
}

.form-btn {
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 170px;
  margin: 0 auto;
}
