:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy_blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light_slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy_blue-modal: rgba(46, 47, 66, 0.4);
  --gray: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
